<!DOCTYPE html>
<html lang="en" ng-app="example">
<head>
  <meta charset="UTF-8">
  <title>MakeAPI angular</title>
  <link href="/bower_components/makerstrap/dist/makerstrap.complete.min.css" rel="stylesheet">
  <style>
    .jumbotron {
      background: #F5F5F5;
      color: #555;
      border-bottom: 1px solid #DDD;
    }
  </style>
</head>
<body ng-controller="mainCtrl">
  <div class="jumbotron">
    <div class="container">
      <h1>MakeAPI Angular</h1>
    </div>
  </div>
  <div class="container">
    <h2 class="page-header">Individual makes</h2>
    <div class="row">
      <div class="col-sm-4 col-md-3">
        <div class="form-group">
          <label for="make-id">Make ID</label>
          <input name="make-id" class="form-control" ng-model="makeId">
        </div>
        <make make-id="{{makeId}}"></make>
      </div>
      <div class="col-sm-4 col-md-3">
        <div class="form-group">
          <label for="make-id">Make ID</label>
          <input name="make-id" class="form-control" ng-model="makeId2">
        </div>
        <div make make-id="{{makeId2}}"></div>
      </div>
    </div>

    <h2 class="page-header">Make Gallery</h2>

    <div class="row">
      <div class="col-sm-4">
        <div class="form-group">
          <label for="tags">Tags</label>
          <div class="input-group">
            <input name="tags" class="form-control" ng-model="tagsInput">
            <span class="input-group-btn">
              <button ng-click="updateTags(tagsInput)" class="btn btn-default">
                Update
              </button>
            </span>
          </div>
        </div>
      </div>
    </div>

    <div make-gallery
      class="row"
      tags="tags"
      limit="12">
    </div>

  </div>

  <script src="/bower_components/angular/angular.js"></script>
  <script src="/bower_components/makeapi-client/src/make-api.js"></script>
  <script src="/dist/makeapi-angular.templates.js"></script>
  <script src="/dist/makeapi-angular.js"></script>
  <script>
  var module = angular.module('example', ['wmMakeApiAngular']);
  module.controller('mainCtrl', function ($scope) {
    $scope.makeId = '539f56c3522cf67163000154';
    $scope.makeId2 = '52231a77850da0743d000044';
    $scope.tagsInput = 'love';
    $scope.tags = ['love'];
    $scope.updateTags = function (input) {
      if (!input) {
        return;
      }
      $scope.tags = input.split(/[\s,]+/);
    };
  });
  </script>
</body>
</html>
